.gz
.class
.classpath
.project
.cache
.settings
.idea
.idea_modules
*.swp
CC-MAIN*.wet.gz
CC-MAIN*.wet
classifier_example_file.wet.gz
application.conf
wetpath_loader/target/
wetpath_loader/bin/
/bin-test-lib
target/*
/bin
/node_modules
/createcorpus/project/project/
/createcorpus/project/target/
/createcorpus/target/
/warcparser/target/
/warcparser/project/project/
/warcparser/project/target/
