# these are our own config values defined by the app
dbconnection {
    driver="com.mysql.cj.jdbc.Driver"
    url="jdbc:mysql://myhostname/mydbname"
    username="xxxxxxxxxxxxx"
    password="xxxxxxxxxxxx"
}

